<html>
<style>
    body {
        background-color: white;
    }

    h2 {
        font-size: 35px;
        color: darkblue;
        display: flex;
        align-items: flex-start;
    }

    p {
        font-size: 15px;
        color: skyblue;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 45px;
        color: black;
        display: flex;
        align-items: flex-end;
        font-family: 'Rubik', sans-serif;
    }
</style>


<title>
    final game
</title>
<h1>Choose your adventure!</h1>
<h2> {{room.name}} </h2>
<p> {{room.description}} </p>

</html>